<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Search</title>
</head>
<body>
    <h1>Video Game Search</h1>
    <form action="" method = "GET"></form>
    <label for="name">Search Name:</label>
    <input type="text">
    <br>
    <br>
    <label for="page_size">Number of results:</label>
    <select name="page_size" id="page_size">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
    </select>
    <button type="submit">Search</button> 
</body>
</html>